---
layout: base.njk
title: Blog
---

<h1>Blog Posts</h1>

<div class="blog-list">
    {%- for post in collections.posts | reverse -%}
    <article class="post-preview">
        <h2><a href="{{ post.url | url }}">{{ post.data.title }}</a></h2>
        <time datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time>
        {% if post.data.description %}
        <p>{{ post.data.description }}</p>
        {% endif %}
        <a href="{{ post.url | url }}" class="read-more">Read more</a>
    </article>
    {%- endfor -%}
</div>
